<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="siclo.com.photointenthelper">
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".PhotoIntentHelperActivity"
            android:theme="@style/Theme.Transparent">
        </activity>

        <provider

            android:name=".storage.PhotoIntentContentProvider"

            android:authorities="siclo.com.photointenthelper"

            android:enabled="true"

            android:exported="true" />

    </application>

</manifest>
